<section class="contact-info">
  <div class="contact-info__container">
    <div class="contact-info__box">
      <div class="contact-info__details">
        <div class="contact-info__titles">
          <h2 class="contact-info__title title-pattern">Contact info</h2>
          <h3 class="contact-info__subtitle subtitle-pattern">Get in touch</h3>
        </div>
        <address class="contact-info__address">
          <ul class="contact-info__list">
            <li class="contact-info__item">
              <a href="mailto:hello@createx.com">
                <div class="contact-info__string">
                  <svg class="contact-info__svg" width="24" height="24">
                    <use href="./images/svg-sprite.svg#icon-chat"></use>
                  </svg>
                  <p class="contact-info__call">Talk to us:</p>
                </div>
                <p class="contact-info__target">hello@createx.com</p></a
              >
            </li>
            <li class="contact-info__item">
              <a href="tel:4055550128">
                <div class="contact-info__string">
                  <svg class="contact-info__svg" width="24" height="24">
                    <use href="./images/svg-sprite.svg#icon-iPhone"></use>
                  </svg>
                  <p class="contact-info__call">Call us:</p>
                </div>
                <p class="contact-info__target">(405) 555-0128</p></a
              >
            </li>
            <li class="contact-info__item">
              <a
                href="https://www.google.com/maps/place/1274+Forest+Ave,+Lakewood,+NJ+08701,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.1012605,-74.2295293,16z/data=!4m15!1m8!3m7!1s0x89c178af56b95b9b:0xf11327b4f6475d2e!2zNjY2IDE0dGggU3QsIExha2V3b29kLCBOSiAwODcwMSwg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!3b1!8m2!3d40.1035207!4d-74.2242147!16s%2Fg%2F11c2qgnw9v!3m5!1s0x89c178a631c4aa31:0x2c0d70e1bb87f375!8m2!3d40.102165!4d-74.2213488!16s%2Fg%2F11sttgd64z?entry=ttu"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div class="contact-info__string">
                  <svg class="contact-info__svg" width="24" height="24">
                    <use href="./images/svg-sprite.svg#icon-outline"></use>
                  </svg>
                  <p class="contact-info__call">Address:</p>
                </div>
                <p class="contact-info__target">
                  1274 Forest Ave, Lakewood, NJ 08701, USA
                </p></a
              >
            </li>
          </ul>
        </address>
        <div class="contact-info__socials">
          <p class="contact-info__socials-call">Follow us:</p>
        </div>
        <include src="./partials/common_partials/socials.html"></include>
      </div>
      <div class="contact-info__map-wrap">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12207.465858557796!2d-74.22972342800298!3d40.100690111251865!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c178a631c4aa31%3A0x2c0d70e1bb87f375!2s1274%20Forest%20Ave%2C%20Lakewood%2C%20NJ%2008701%2C%20USA!5e0!3m2!1sen!2sua!4v1696285081770!5m2!1sen!2sua"
          width="705"
          height="412"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
