<section class="benefits">
  <div class="benefits__container">
    <div class="benefits__titles titles">
      <h2 class="benefits__title title-pattern">Our benefits</h2>
      <h3 class="benefits__subtitle subtitle-pattern">That’s how we do it</h3>
    </div>
    <div class="benefits__button-box">
      <button
        type="button"
        class="benefits__tab-button js-tab-button clicked"
        name="tutors"
      >
        <svg class="benefits__button-svg" width="16" height="16">
          <use
            class="button__icon"
            href="./images/svg-sprite.svg#icon-star"
          ></use>
        </svg>
        <p>Experienced Tutors</p>
      </button>
      <button
        type="button"
        class="benefits__tab-button js-tab-button"
        name="feedback"
      >
        <svg class="benefits__button-svg" width="16" height="16">
          <use
            class="button__icon"
            href="./images/svg-sprite.svg#icon-like"
          ></use>
        </svg>
        <p>Feedback & Support</p>
      </button>
      <button
        type="button"
        class="benefits__tab-button js-tab-button"
        name="library"
      >
        <svg class="benefits__button-svg" width="16" height="16">
          <use
            class="button__icon"
            href="./images/svg-sprite.svg#icon-layouts"
          ></use>
        </svg>
        <p>24/7 Online Library</p>
      </button>
      <button
        type="button"
        class="benefits__tab-button js-tab-button"
        name="community"
      >
        <svg class="benefits__button-svg" width="16" height="16">
          <use
            class="button__icon"
            href="./images/svg-sprite.svg#icon-chat"
          ></use>
        </svg>
        <p>Community</p>
      </button>
    </div>
    <div class="benefits__description-box">
      <div class="benefits__item js-benefits-item" data-name="tutors">
        <div class="benefits__info">
          <h4 class="benefits__info-title">Only practicing tutors</h4>
          <p class="benefits__info-text text">
            Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames
            dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis
            mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum
            diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa
            ut amet. Amet enim, nisi tempus vehicula.
          </p>
        </div>
        <div class="benefits__img">
          <img
            src="./images/main_page/benefits/benefits-pic.svg"
            alt="tutors illustration"
          />
        </div>
      </div>
      <div
        class="benefits__item js-benefits-item is-hidden"
        data-name="feedback"
      >
        <div class="benefits__info">
          <h4 class="benefits__info-title">Receive feedback</h4>
          <p class="benefits__info-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
            labore a doloribus voluptates dolorem commodi sunt deleniti harum
            voluptatem, earum minus eveniet qui hic tempore sit vel natus odio
            ut nobis beatae delectus minima dignissimos repellendus ipsam.
            Quibusdam vel fugiat placeat veniam in saepe molestias atque ullam
            suscipit, incidunt omnis numquam delectus.
          </p>
        </div>
        <div class="benefits__img">
          <img
            src="./images/main_page/hero/stadying-pic.svg"
            alt="feedback illustration"
          />
        </div>
      </div>
      <div
        class="benefits__item js-benefits-item is-hidden"
        data-name="library"
      >
        <div class="benefits__info">
          <h4 class="benefits__info-title">Visit our library</h4>
          <p class="benefits__info-text">
            Est distinctio voluptates sunt impedit, sit optio officiis fuga
            magnam deserunt nesciunt necessitatibus dolor! Fuga quae aut
            voluptas recusandae qui, voluptatum sapiente nisi hic dolore cum
            molestias saepe, ratione illo suscipit quis necessitatibus ad unde
            et quia nihil nam? Facilis et quas dolores consequuntur dolorum
            dicta aliquid similique, ab quaerat obcaecati libero atque molestiae
            minima? Beatae, cumque.
          </p>
        </div>
        <div class="benefits__img">
          <img
            src="./images/common_partials/blog-subscription/blog-sub-pic.svg"
            alt="library illustration"
          />
        </div>
      </div>
      <div
        class="benefits__item js-benefits-item is-hidden"
        data-name="community"
      >
        <div class="benefits__info">
          <h4 class="benefits__info-title">Let's talk about this!</h4>
          <p class="benefits__info-text">
            Adipisci, impedit reprehenderit. Aperiam quam at odio. Soluta nobis
            ad enim facilis accusamus omnis eos laudantium itaque, amet fuga
            totam, illum voluptas iste. Corrupti, optio, autem iure,
            necessitatibus eos error deserunt totam at earum unde eius maiores
            provident architecto facilis commodi. Debitis id repellendus ut
            natus possimus suscipit ipsa at minus laboriosam?
          </p>
        </div>
        <div class="benefits__img">
          <img
            src="./images/common_partials/subscription/subscription-pic.svg"
            alt="community illustration"
          />
        </div>
      </div>
    </div>
  </div>
</section>
