<section class="courses-preview">
  <div class="courses-preview__container">
    <div class="courses-preview__header">
      <div class="courses-preview__titles">
        <h2 class="courses-preview__title title-pattern">Ready to learn?</h2>
        <h3 class="courses-preview__subtitle subtitle-pattern">
          Featured courses
        </h3>
      </div>
      <div class="courses-preview__button">
        <a href="./courses.html" class="button button--transparent">
          View all courses
        </a>
      </div>
    </div>
    <ul class="courses-preview__box">
      <li class="courses-preview__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor1@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor1@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor1@1x.jpg"
              alt="Jerome Bell photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--green">Marketing</p>
            <h4 class="card-courses__subtitle">
              The Ultimate Google Ads Training Course
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$100</p>
              <p class="card-courses__teacher">by Jerome Bell</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-preview__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor2@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor2@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor2@1x.jpg"
              alt="Marvin McKinney photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--blue">Management</p>
            <h4 class="card-courses__subtitle">
              Product Management Fundamentals
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$480</p>
              <p class="card-courses__teacher">by Marvin McKinney</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-preview__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor3@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor3@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor3@1x.jpg"
              alt="Leslie Alexander Li photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--orange">
              HR & Recruting
            </p>
            <h4 class="card-courses__subtitle">HR Management and Analytics</h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$200</p>
              <p class="card-courses__teacher">by Leslie Alexander Li</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-preview__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor4@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor4@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor4@1x.jpg"
              alt="Kristin Watson photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--green">Marketing</p>
            <h4 class="card-courses__subtitle">
              Brand Management & PR Communications
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$530</p>
              <p class="card-courses__teacher">by Kristin Watson</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-preview__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor5@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor5@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor5@1x.jpg"
              alt="Dianne Russell photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--blue">Management</p>
            <h4 class="card-courses__subtitle">
              Business Development Management
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$400</p>
              <p class="card-courses__teacher">by Dianne Russell</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-preview__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor6@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor6@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor6@1x.jpg"
              alt="Guy Hawkins photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--pink">Design</p>
            <h4 class="card-courses__subtitle">Graphic Design Basic</h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$500</p>
              <p class="card-courses__teacher">by Guy Hawkins</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
