<section class="events-preview">
  <div class="events-preview__container">
    <div class="events-preview__titles titles">
      <h2 class="events-preview__title title-pattern">Our events</h2>
      <h3 class="events-preview__subtitle subtitle-pattern">
        Lectures & workshops
      </h3>
    </div>
    <ul class="events-preview__list">
      <li class="events-preview__item">
        <div class="events-preview__date">
          <p class="events-preview__number">05</p>
          <div class="events-preview__date-wrap">
            <p class="events-preview__month small-subtitle-pattern">August</p>
            <p class="events-preview__time">11:00 – 14:00</p>
          </div>
        </div>
        <div class="events-preview__about">
          <h4 class="events-preview__name small-subtitle-pattern">
            Formation of the organizational structure of the company in the face
            of uncertainty.
          </h4>
          <p class="events-preview__type">Onine master-class</p>
        </div>
        <div class="events-preview__button">
          <a class="events-preview__btn-more button button--transparent"
            >View more</a
          >
        </div>
      </li>
      <li class="events-preview__item">
        <div class="events-preview__date">
          <p class="events-preview__number">24</p>
          <div class="events-preview__date-wrap">
            <p class="events-preview__month small-subtitle-pattern">July</p>
            <p class="events-preview__time">11:00 – 12:30</p>
          </div>
        </div>
        <div class="events-preview__about">
          <h4 class="events-preview__name small-subtitle-pattern">
            Building a customer service department. Best Practices.
          </h4>
          <p class="events-preview__type">Onine lecture</p>
        </div>
        <div class="events-preview__button">
          <a class="events-preview__btn-more button button--transparent"
            >View more</a
          >
        </div>
      </li>
      <li class="events-preview__item">
        <div class="events-preview__date">
          <p class="events-preview__number">16</p>
          <div class="events-preview__date-wrap">
            <p class="events-preview__month small-subtitle-pattern">July</p>
            <p class="events-preview__time">10:00 – 13:00</p>
          </div>
        </div>
        <div class="events-preview__about">
          <h4 class="events-preview__name small-subtitle-pattern">
            How to apply methods of speculative design in practice.
            Worldbuilding prototyping.
          </h4>
          <p class="events-preview__type">Onine workshop</p>
        </div>
        <div class="events-preview__button">
          <a class="events-preview__btn-more button button--transparent"
            >View more</a
          >
        </div>
      </li>
    </ul>
    <div class="events-preview__more">
      <p class="events-preview__question">Do you want more?</p>
      <div class="events-preview__button2">
        <a
          href="./events.html"
          class="events-preview__btn-all button button--colored"
          >Explore all events</a
        >
      </div>
    </div>
  </div>
  <div class="events-preview__decor decor-events-preview">
    <div class="decor6 decor-events-preview--1"></div>
    <div class="decor5 decor-events-preview--2"></div>
  </div>
</section>
