<section class="features">
  <div class="features__container">
    <div class="features__box">
      <div class="features__img">
        <img
          srcset="
            ./images/main_page/features/we_are@1x.jpg 1x,
            ./images/main_page/features/we_are@2x.jpg 2x
          "
          src="./images/main_page/features/we_are@1x.jpg"
          alt="a girl at a laptop"
        />
      </div>
      <div class="features__info">
        <h2 class="features__title title-pattern">Who we are</h2>
        <h3 class="features__subtitle subtitle-pattern">Why Createx?</h3>
        <ul class="features__list check-list">
          <li class="features__list-item check-item">
            A fermentum in morbi pretium aliquam adipiscing donec tempus.
          </li>
          <li class="features__list-item check-item">
            Vulputate placerat amet pulvinar lorem nisl.
          </li>
          <li class="features__list-item check-item">
            Consequat feugiat habitant gravida quisque elit bibendum id
            adipiscing sed.
          </li>
          <li class="features__list-item check-item">
            Etiam duis lobortis in fames ultrices commodo nibh.
          </li>
          <li class="features__list-item check-item">
            Tincidunt sagittis neque sem ac eget.
          </li>
          <li class="features__list-item check-item">
            Ultricies amet justo et eget quisque purus vulputate dapibus tortor.
          </li>
        </ul>
        <div class="features__button">
          <a href="#" class="button button--colored"> More about us </a>
        </div>
      </div>
    </div>
  </div>
  <div class="features__decor decor-features">
    <div class="decor7 decor-features--1"></div>
    <div class="decor8 decor-features--2"></div>
  </div>
</section>
