<section class="hero">
  <div class="hero__container">
    <div class="hero__main">
      <div class="hero__info">
        <a href="" class="hero__video">
          <div class="hero__video-icon-box">
            <svg class="hero__svg-video" width="32" height="32">
              <use href="./images/svg-sprite.svg#icon-play-video"></use>
            </svg>
          </div>

          <p>Play showreel</p>
        </a>
        <h1 class="hero__title">Enjoy studying with Createx Online Courses</h1>
        <ul class="hero__buttons">
          <li>
            <a href="./about.html" class="button button--transparent"
              >About us</a
            >
          </li>
          <li>
            <a href="./courses.html" class="button button--colored"
              >Explore courses</a
            >
          </li>
        </ul>
      </div>
      <div class="hero__img">
        <img
          src="./images/main_page/hero/stadying-pic.svg"
          alt="studying illustration"
        />
      </div>
    </div>
    <div class="hero__benefits benefits">
      <div class="benefits__group">
        <div class="benefits__quantity">1200</div>
        <div class="benefits__name">Students graduated</div>
      </div>
      <div class="benefits__group">
        <div class="benefits__quantity">84</div>
        <div class="benefits__name">Completed courses</div>
      </div>
      <div class="benefits__group">
        <div class="benefits__quantity">16</div>
        <div class="benefits__name">Qualified tutors</div>
      </div>
      <div class="benefits__group">
        <div class="benefits__quantity">5</div>
        <div class="benefits__name">Years of experience</div>
      </div>
    </div>
    <div class="hero__decor decor-hero">
      <div class="decor1 decor-hero--1"></div>
      <div class="decor2 decor-hero--2"></div>
      <div class="decor3 decor-hero--3"></div>
      <div class="decor4 decor-hero--4"></div>
      <div class="decor5 decor-hero--5"></div>
      <div class="decor6 decor-hero--6"></div>
    </div>
  </div>
</section>
