<section class="about-course">
  <div class="about-course__container">
    <div class="about-course__box">
      <div class="about-course__description">
        <h3 class="about-course__title subtitle-pattern">About the course</h3>
        <p class="about-course__text text">
          Bibendum vulputate adipiscing venenatis at est, a eu tincidunt. Leo
          aenean congue in sagittis, felis maecenas amet varius at. Pellentesque
          euismod in faucibus at elementum. Tellus maecenas libero est tempus
          sit cras at malesuada diam. Consequat senectus dictumst non hac
          dignissim montes, pretium, egestas molestie. Sed magna aliquet ornare
          nibh vel lectus diam eget pretium. Lorem risus nunc tincidunt tortor,
          mi nulla pellentesque
        </p>
        <div class="about-course__list-box">
          <p class="about-course__call">You will learn:</p>
          <ul class="about-course__list check-list">
            <li class="about-course__item check-item">
              A fermentum in morbi pretium aliquam adipiscing donec tempus.
            </li>
            <li class="about-course__item check-item">
              Vulputate placerat amet pulvinar lorem nisl.
            </li>
            <li class="about-course__item check-item">
              Consequat feugiat habitant gravida quisque elit bibendum id
              adipiscing sed.
            </li>
            <li class="about-course__item check-item">
              Etiam duis lobortis in fames ultrices commodo nibh.
            </li>
            <li class="about-course__item check-item">
              Fringilla in nec risus congue venenatis pretium posuere nec.
            </li>
            <li class="about-course__item check-item">
              Cursus eu pretium, vulputate tempus quam massa sed at.
            </li>
          </ul>
        </div>
      </div>
      <div class="about-course__details">
        <div class="about-course__details-group-box">
          <div class="about-course__details-group">
            <p class="about-course__details-name">Dates</p>
            <p class="about-course__details-info js-course-cost-dates">
              Sept 7 – Nov 2
            </p>
            <p class="about-course__details-about text text--light-grey">
              Metus turpis sit lorem lacus, in elit tellus lacus.
            </p>
          </div>
          <div class="about-course__details-group">
            <p class="about-course__details-name">Duration</p>
            <p class="about-course__details-info">
              <span class="js-course-duration">2 </span> months –
              <span class="js-course-lessons">8 </span> lessons
            </p>
            <p class="about-course__details-about text text--light-grey">
              Metus turpis sit lorem lacus, in elit tellus lacus.
            </p>
          </div>
          <div class="about-course__details-group">
            <p class="about-course__details-name">Price</p>
            <p class="about-course__details-info">
              $<span class="js-course-cost">120 </span> per month
            </p>
            <p class="about-course__details-about text text--light-grey">
              Nulla sem adipiscing adipiscing felis fringilla. Adipiscing mauris
              quam ac elit tristique dis.
            </p>
          </div>
        </div>
        <a
          href="#course-request"
          class="about-course__details-button button button--colored"
          >Join the course</a
        >
      </div>
    </div>
  </div>
</section>
