<section class="course-curator section-paddings">
  <div class="course-curator__container">
    <div class="course-curator__box">
      <div class="course-curator__wrap">
        <div class="course-curator__img">
          <img
            srcset="
              ./images/common_partials/team/tutor81@1x.png 1x,
              ./images/common_partials/team/tutor81@2x.png 2x
            "
            src="./images/common_partials/team/tutor81@1x.png"
            alt="tutor photo"
          />
        </div>
      </div>
      <div class="course-curator__info">
        <h2 class="course-curator__title title-pattern">Course curator</h2>
        <h3
          class="course-curator__subtitle subtitle-pattern js-course-curator-subtitle"
        >
          Cody Fisher
        </h3>
        <p class="course-curator__position text text--light-grey">
          Senior UX designer in IT Product Company
        </p>
        <ul class="course-curator__achievement-list">
          <li class="course-curator__achievement-item">
            <svg
              class="course-curator__achievement-icon"
              width="16"
              height="16"
            >
              <use href="./images/svg-sprite.svg#icon-star"></use>
            </svg>
            <span
              class="course-curator__achievement-number js-achievement-number"
              >4.9</span
            >
            <span class="course-curator__achievement-name">rate</span>
          </li>
          <li class="course-curator__achievement-item">
            <svg
              class="course-curator__achievement-icon"
              width="16"
              height="16"
            >
              <use href="./images/svg-sprite.svg#icon-play"></use>
            </svg>
            <span
              class="course-curator__achievement-number js-achievement-number"
              >4</span
            >
            <span class="course-curator__achievement-name">courses</span>
          </li>
          <li class="course-curator__achievement-item">
            <svg
              class="course-curator__achievement-icon"
              width="16"
              height="16"
            >
              <use href="./images/svg-sprite.svg#icon-profile"></use>
            </svg>
            <span
              class="course-curator__achievement-number js-achievement-number"
              >350</span
            >
            <span class="course-curator__achievement-name">students</span>
          </li>
        </ul>
        <p class="course-curator__description text">
          Mattis adipiscing aliquam eu proin metus a iaculis faucibus. Tempus
          curabitur venenatis, vulputate venenatis fermentum ante. Nisl, amet id
          semper semper quis commodo, consequat. Massa rhoncus sit morbi odio.
          Sit maecenas nibh consectetur vel diam. Sem vulputate molestie laoreet
          at massa sed pharetra. Ac commodo platea id habitasse proin. Nullam
          sit nec ipsum posuere non. Nam vel aliquam tristique sollicitudin
          interdum quam.
        </p>
        <include src="./partials/common_partials/socials.html"></include>
      </div>
    </div>
    <div class="decor8 decor-course-curator--1"></div>
  </div>
</section>
