<section class="course-title">
  <div class="course-title__container">
    <div class="course-title__box">
      <h2 class="course-title__title title-pattern">course</h2>
      <h3 class="course-title__subtitle subtitle-pattern">
        User Experience. Principles of Human-Centered Design
      </h3>
    </div>
    <div class="course-title__decor decor-course-title">
      <div class="decor3 decor-course-title--1"></div>
      <div class="decor6 decor-course-title--2"></div>
      <div class="decor5 decor-course-title--3"></div>
      <div class="decor1 decor-course-title--4"></div>
    </div>
  </div>
</section>
