<section class="discount section-paddings">
  <div class="discount__container">
    <h2 class="is-hidden">discount</h2>
    <div class="discount__box">
      <div class="discount__raw">
        <p class="discount__call">20% discount for early birds!</p>
        <div class="discount__timer">
          <div class="discount__timer-item">
            <div class="discount__timer-item-value js-day-name">06</div>
            <div class="discount__timer-item-name">Days</div>
          </div>
          <div class="discount__timer-item">
            <div class="discount__timer-item-value js-hours-name">18</div>
            <div class="discount__timer-item-name">Hours</div>
          </div>
          <div class="discount__timer-item">
            <div class="discount__timer-item-value js-mins-name">24</div>
            <div class="discount__timer-item-name">Mins</div>
          </div>
          <div class="discount__timer-item">
            <div class="discount__timer-item-value js-sec-name">12</div>
            <div class="discount__timer-item-name">Sec</div>
          </div>
        </div>
      </div>
      <div class="discount__raw">
        <include
          src="./partials/common_partials/registration-form.html"
        ></include>
      </div>
    </div>
    <div class="decor16 decor-discount--1"></div>
  </div>
</section>
