<section class="program section-paddings">
  <div class="program__container">
    <div class="program__box">
      <div class="program__info">
        <div class="program__titles titles">
          <h2 class="program__title title-pattern">Course program</h2>
          <h3 class="program__subtitle subtitle-pattern">
            What will you learn
          </h3>
        </div>
        <ul class="program__list">
          <li class="program__list-item">
            <button type="button" class="program__list-button js-button-plus">
              <svg class="program__svg-plus" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-plus"></use>
              </svg>
              <svg class="program__svg-minus is-hidden" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <div class="program__lesson-wrap">
              <h4 class="program__lesson-title">
                <span class="program__lesson-number">Lesson 1.</span> Aliquet
                lectus urna viverra in odio.
              </h4>
              <p class="program__lesson-about text">
                Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec
                pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur
                turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed.
                Curabitur faucibus porttitor quis sem lacus, arcu feugiat
                facilisis. Commodo nunc orci vitae accumsan id.
              </p>
            </div>
          </li>
          <li class="program__list-item">
            <button type="button" class="program__list-button js-button-plus">
              <svg class="program__svg-plus" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-plus"></use>
              </svg>
              <svg class="program__svg-minus is-hidden" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <div class="program__lesson-wrap">
              <h4 class="program__lesson-title">
                <span class="program__lesson-number">Lesson 2.</span> Orci
                commodo, viverra orci mollis ut euismod.
              </h4>
              <p class="program__lesson-about text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                pariatur dolore mollitia culpa delectus quam, blanditiis vel
                provident tempore, temporibus dolorum maiores magnam. Ullam
                culpa cupiditate quasi? Incidunt, perspiciatis nobis!
              </p>
            </div>
          </li>
          <li class="program__list-item">
            <button type="button" class="program__list-button js-button-plus">
              <svg class="program__svg-plus" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-plus"></use>
              </svg>
              <svg class="program__svg-minus is-hidden" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <div class="program__lesson-wrap">
              <h4 class="program__lesson-title">
                <span class="program__lesson-number">Lesson 3.</span> Sagittis
                vitae facilisi rutrum amet mauris quisque vel.
              </h4>
              <p class="program__lesson-about text">
                Recusandae vero excepturi illo impedit ea assumenda in
                cupiditate minima libero distinctio dicta labore corrupti
                debitis doloribus neque blanditiis nihil officiis, earum sint,
                non adipisci provident quae architecto? Laboriosam illo expedita
                incidunt suscipit assumenda.
              </p>
            </div>
          </li>
          <li class="program__list-item">
            <button type="button" class="program__list-button js-button-plus">
              <svg class="program__svg-plus" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-plus"></use>
              </svg>
              <svg class="program__svg-minus is-hidden" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <div class="program__lesson-wrap">
              <h4 class="program__lesson-title">
                <span class="program__lesson-number">Lesson 4.</span> In id
                dolor quis nunc, urna hendrerit pharetra.
              </h4>
              <p class="program__lesson-about text">
                Expedita exercitationem temporibus, dolorem quia accusamus
                dolore obcaecati esse assumenda, dicta provident, dolores
                laudantium tempora itaque quos odit. Placeat, quam similique.
                Blanditiis iste, ipsam ullam repellat assumenda temporibus ab
                deserunt eius.
              </p>
            </div>
          </li>
          <li class="program__list-item">
            <button type="button" class="program__list-button js-button-plus">
              <svg class="program__svg-plus" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-plus"></use>
              </svg>
              <svg class="program__svg-minus is-hidden" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <div class="program__lesson-wrap">
              <h4 class="program__lesson-title">
                <span class="program__lesson-number">Lesson 5.</span> Est, ut
                tempus id rutrum facilisi.
              </h4>
              <p class="program__lesson-about text">
                Laboriosam dignissimos perferendis voluptatum rem ipsum alias
                culpa quis fugit inventore magnam recusandae, impedit cupiditate
                aperiam tenetur nisi aut iusto ipsa fugiat provident quaerat
                dolore sit corrupti quas!
              </p>
            </div>
          </li>
          <li class="program__list-item">
            <button type="button" class="program__list-button js-button-plus">
              <svg class="program__svg-plus" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-plus"></use>
              </svg>
              <svg class="program__svg-minus is-hidden" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <div class="program__lesson-wrap">
              <h4 class="program__lesson-title">
                <span class="program__lesson-number">Lesson 6.</span> Amet nec
                in pellentesque.
              </h4>
              <p class="program__lesson-about text">
                Quod nisi recusandae et culpa modi cumque, dignissimos nihil
                molestiae consectetur non. In quibusdam iure earum excepturi
                nemo consequatur. Iure recusandae eos, aperiam maiores est
                dolorem reiciendis quisquam libero magnam quam tenetur, placeat
                eligendi debitis facere, ad earum alias!
              </p>
            </div>
          </li>
          <li class="program__list-item">
            <button type="button" class="program__list-button js-button-plus">
              <svg class="program__svg-plus" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-plus"></use>
              </svg>
              <svg class="program__svg-minus is-hidden" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <div class="program__lesson-wrap">
              <h4 class="program__lesson-title">
                <span class="program__lesson-number">Lesson 7.</span> Massa vel
                arcu mauris, id vel rhoncus mattis quis.
              </h4>
              <p class="program__lesson-about text">
                Maxime dolore ad ducimus, quis harum vero, nobis laboriosam
                blanditiis sint sunt praesentium sapiente deserunt saepe neque
                architecto iste quo aliquid beatae eaque repudiandae omnis
                eligendi, a hic? Dolorum ea quisquam ipsum culpa fugiat eum
                earum, aut dicta delectus totam in cupiditate?
              </p>
            </div>
          </li>
          <li class="program__list-item">
            <button type="button" class="program__list-button js-button-plus">
              <svg class="program__svg-plus" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-plus"></use>
              </svg>
              <svg class="program__svg-minus is-hidden" width="20" height="20">
                <use href="./images/svg-sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <div class="program__lesson-wrap">
              <h4 class="program__lesson-title">
                <span class="program__lesson-number">Lesson 8.</span> Neque,
                cursus sapien nullam id.
              </h4>
              <p class="program__lesson-about text">
                Voluptatum ex exercitationem et accusantium sit quisquam modi
                fugit atque? Dicta reprehenderit beatae nemo possimus voluptates
                laudantium excepturi voluptas laboriosam, id cumque enim laborum
                fugiat necessitatibus ipsa explicabo nesciunt recusandae
                perferendis! Voluptas molestias repellat.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="program__img">
        <img
          src="./images/one-course_page/program/program-pic.svg"
          alt="program illustration"
        />
      </div>
    </div>
  </div>
</section>
