<section class="courses-list">
  <div class="courses-list__container">
    <div class="courses-list__titles titles">
      <h2 class="courses-list__title title-pattern">
        Best tutors are all here
      </h2>
      <h3 class="courses-list__subtitle subtitle-pattern">Meet our team</h3>
    </div>
    <div class="courses-list__filter-controls">
      <ul class="courses-list__control-buttons text--light-grey">
        <li class="courses-list__control-buttons-item">
          <button class="courses-list__control-button" type="button">
            <p class="courses-list__button-name">All</p>
            <sup class="courses-list__button-quantity">14</sup>
          </button>
        </li>
        <li class="courses-list__control-button-item">
          <button class="courses-list__control-button" type="button">
            <p class="courses-list__button-name">Marketing</p>
            <sup class="courses-list__button-quantity"></sup>
          </button>
        </li>
        <li class="courses-list__control-button-item">
          <button class="courses-list__control-button" type="button">
            <p class="courses-list__button-name">Management</p>
            <sup class="courses-list__button-quantity"></sup>
          </button>
        </li>
        <li class="courses-list__control-button-item">
          <button class="courses-list__control-button" type="button">
            <p class="courses-list__button-name">HR & Recruting</p>
            <sup class="courses-list__button-quantity"></sup>
          </button>
        </li>
        <li class="courses-list__control-button-item">
          <button class="courses-list__control-button" type="button">
            <p class="courses-list__button-name">Design</p>
            <sup class="courses-list__button-quantity"></sup>
          </button>
        </li>
        <li class="courses-list__control-button-item">
          <button class="courses-list__control-button" type="button">
            <p class="courses-list__button-name">Development</p>
            <sup class="courses-list__button-quantity"></sup>
          </button>
        </li>
      </ul>
      <form class="courses-list__form">
        <input
          class="courses-list__search-input text--light-grey"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search course..."
        />
        <button type="submit" class="courses-list__search-button">
          <svg class="courses-list__svg" width="16" height="16">
            <use href="./images/svg-sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <!-- <ul class="courses-list__box">
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor1@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor1@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor1@1x.jpg"
              alt="Jerome Bell photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--green">Marketing</p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              The Ultimate Google Ads Training Course
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$100</p>
              <p class="card-courses__teacher">by Jerome Bell</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor2@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor2@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor2@1x.jpg"
              alt="Marvin McKinney photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--blue">Management</p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              Product Management Fundamentals
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$480</p>
              <p class="card-courses__teacher">by Marvin McKinney</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor3@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor3@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor3@1x.jpg"
              alt="Leslie Alexander Li photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--orange">
              HR & Recruting
            </p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              HR Management and Analytics
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$200</p>
              <p class="card-courses__teacher">by Leslie Alexander Li</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor4@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor4@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor4@1x.jpg"
              alt="Kristin Watson photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--green">Marketing</p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              Brand Management & PR Communications
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$530</p>
              <p class="card-courses__teacher">by Kristin Watson</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor5@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor5@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor5@1x.jpg"
              alt="Dianne Russell photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--blue">Management</p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              Business Development Management
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$400</p>
              <p class="card-courses__teacher">by Dianne Russell</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor6@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor6@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor6@1x.jpg"
              alt="Guy Hawkins photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--pink">Design</p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              Graphic Design Basic
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$500</p>
              <p class="card-courses__teacher">by Guy Hawkins</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor7@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor7@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor7@1x.jpg"
              alt="Kristin Watson photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--green">Development</p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              Highload Software Architecture
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$600</p>
              <p class="card-courses__teacher">by Brooklyn Simmons</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor7@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor7@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor7@1x.jpg"
              alt="Dianne Russell photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--blue">HR & Recruting</p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              Human Resources – Selection and Recruitment
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$150</p>
              <p class="card-courses__teacher">by Kathryn Murphy</p>
            </div>
          </div>
        </a>
      </li>
      <li class="courses-list__card card-courses">
        <a href="#" class="card-courses__wrap">
          <div class="card-courses__img">
            <img
              srcset="
                ./images/main_page/courses-preview/tutor8@1x.jpg 1x,
                ./images/main_page/courses-preview/tutor8@2x.jpg 2x
              "
              src="./images/main_page/courses-preview/tutor8@1x.jpg"
              alt="Guy Hawkins photo"
            />
          </div>
          <div class="card-courses__description">
            <p class="card-courses__label label label--pink">Design</p>
            <h4 class="card-courses__subtitle small-subtitle-pattern">
              Graphic Design Basic
            </h4>
            <div class="card-courses__details">
              <p class="card-courses__price">$240</p>
              <p class="card-courses__teacher">by Cody Fisher</p>
            </div>
          </div>
        </a>
      </li>
    </ul> -->
    <include
      src="./partials/common_partials/courses-list-pattern.html"
    ></include>
  </div>
  <div class="courses-list__decor decor-courses-list">
    <div class="decor7 decor-courses-list--1"></div>
    <div class="decor13 decor-courses-list--2"></div>
    <div class="decor14 decor-courses-list--3"></div>
  </div>
</section>
