.about-school {
  padding: 260px 0 80px;
  @include adaptive(desktop) {
    padding: 160px 0 180px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include adaptive(tablet) {
      flex-direction: row;
      gap: 15px;
      justify-content: space-between;
      align-items: center;
    }
  }

  // .about-school__box

  &__box {
    @include adaptive(tablet) {
      flex-basis: 57%;
    }
    @include adaptive(desktop) {
      flex-basis: 48.78%;
    }
  }

  // .about-school__subtitle

  &__subtitle {
    margin-bottom: 32px;
    @include adaptive(tablet) {
      margin-bottom: 48px;
    }
  }

  // .about-school__main-info

  &__main-info {
    margin-bottom: 16px;
  }

  // .about-school__description

  &__description {
    margin-bottom: 40px;
    @include adaptive(tablet) {
      margin-bottom: 60px;
    }
  }

  // .about-school__buttons

  &__buttons {
    text-align: center;
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-bottom: 30px;

    @include adaptive(tablet) {
      gap: 24px;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }

  // .about-school__img

  &__img {
    position: relative;
    flex-basis: 37.8%;
    padding-bottom: 88%;
    @include adaptive(tablet) {
      padding-bottom: 32.52%;
    }
  }

  &__img img {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
