<section class="blog-preview">
  <div class="blog-preview__container">
    <div class="blog-preview__header">
      <div class="blog-preview__titles">
        <h2 class="blog-preview__title title-pattern">Our blog</h2>
        <h3 class="blog-preview__subtitle subtitle-pattern">Latest posts</h3>
      </div>
      <div class="blog-preview__button">
        <a href="./blog.html" class="button button--colored"> Go to blog </a>
      </div>
    </div>
    <ul class="blog-preview__list">
      <li class="blog-preview__item blog-post">
        <div class="blog-post__thumb">
          <img
            srcset="
              ./images/common_partials/blog-preview/blog-img1@1x.jpg 1x,
              ./images/common_partials/blog-preview/blog-img1@2x.jpg 2x
            "
            src="./images/common_partials/blog-preview/blog-img1@1x.jpg"
            alt="blog abstraction"
          />
          <div class="blog-post__tag">
            <svg class="blog-post__svg" width="16" height="16">
              <use href="./images/svg-sprite.svg#icon-mic"></use>
            </svg>
            <p>Podcast</p>
          </div>
        </div>
        <div class="blog-post__description">
          <div class="blog-post__detatils">
            <p class="blog-post__topic">Marketing</p>
            <div class="blog-post__data">
              <svg class="blog-post__svg" width="16" height="16">
                <use href="./images/svg-sprite.svg#icon-calendar"></use>
              </svg>
              <p>September 4, 2023</p>
            </div>
            <div class="blog-post__duration">
              <svg class="blog-post__svg" width="16" height="16">
                <use href="./images/svg-sprite.svg#icon-clock"></use>
              </svg>
              <p>36 min</p>
            </div>
          </div>
          <h4 class="blog-post__article-name small-subtitle-pattern">
            What is traffic arbitrage and does it really make money?
          </h4>
          <p class="blog-post__text text">
            Pharetra, ullamcorper iaculis viverra parturient sed id sed.
            Convallis proin dignissim lacus, purus gravida...
          </p>
        </div>
        <a href="" class="blog-post__more">
          <p>Listen</p>
          <svg class="blog-post__svg" width="16" height="16">
            <use href="./images/svg-sprite.svg#icon-next-btn"></use>
          </svg>
        </a>
      </li>
      <li class="blog-preview__item blog-post">
        <div class="blog-post__thumb">
          <img
            srcset="
              ./images/common_partials/blog-preview/blog-img5@1x.jpg 1x,
              ./images/common_partials/blog-preview/blog-img5@2x.jpg 2x
            "
            src="./images/common_partials/blog-preview/blog-img5@1x.jpg"
            alt="blog abstraction"
          />
          <div class="blog-post__tag">
            <svg class="blog-post__svg" width="16" height="16">
              <use href="./images/svg-sprite.svg#icon-play"></use>
            </svg>
            <p>Video</p>
          </div>
        </div>
        <div class="blog-post__description">
          <div class="blog-post__detatils">
            <p class="blog-post__topic">Management</p>
            <div class="blog-post__data">
              <svg class="blog-post__svg" width="16" height="16">
                <use href="./images/svg-sprite.svg#icon-calendar"></use>
              </svg>
              <p>August 25, 2023</p>
            </div>
            <div class="blog-post__duration">
              <svg class="blog-post__svg" width="16" height="16">
                <use href="./images/svg-sprite.svg#icon-clock"></use>
              </svg>
              <p>45 min</p>
            </div>
          </div>
          <h4 class="blog-post__article-name small-subtitle-pattern">
            What to do and who to talk to if you want to get feedback on the
            product
          </h4>
          <p class="blog-post__text text">
            Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac
            nibh urna urna sagittis faucibus...
          </p>
        </div>
        <a href="" class="blog-post__more">
          <p>Watch</p>
          <svg class="blog-post__svg" width="16" height="16">
            <use href="./images/svg-sprite.svg#icon-next-btn"></use>
          </svg>
        </a>
      </li>
      <li class="blog-preview__item blog-post">
        <div class="blog-post__thumb">
          <img
            srcset="
              ./images/common_partials/blog-preview/blog-img3@1x.jpg 1x,
              ./images/common_partials/blog-preview/blog-img3@2x.jpg 2x
            "
            src="./images/common_partials/blog-preview/blog-img3@1x.jpg"
            alt="blog abstraction"
          />
          <div class="blog-post__tag">
            <svg class="blog-post__svg" width="16" height="16">
              <use href="./images/svg-sprite.svg#icon-files"></use>
            </svg>
            <p>Article</p>
          </div>
        </div>
        <div class="blog-post__description">
          <div class="blog-post__detatils">
            <p class="blog-post__topic">Design</p>
            <div class="blog-post__data">
              <svg class="blog-post__svg" width="16" height="16">
                <use href="./images/svg-sprite.svg#icon-calendar"></use>
              </svg>
              <p>August 8, 2023</p>
            </div>
          </div>
          <h4 class="blog-post__article-name small-subtitle-pattern">
            Should you choose a creative profession if you are attracted to
            creativity?
          </h4>
          <p class="blog-post__text text">
            Curabitur nisl tincidunt eros venenatis vestibulum ac placerat.
            Tortor, viverra sed vulputate ultrices...
          </p>
        </div>
        <a href="" class="blog-post__more">
          <p>Read</p>
          <svg class="blog-post__svg" width="16" height="16">
            <use href="./images/svg-sprite.svg#icon-next-btn"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
