<section class="certificate">
  <div class="certificate__container">
    <div class="certificate__box">
      <div class="certificate__titles titles">
        <h2 class="certificate__title title-pattern">Createx Certificate</h2>
        <h3 class="certificate__subtitle subtitle-pattern">
          Your expertise will be confirmed
        </h3>
      </div>
      <p class="certificate__description text">
        We are accredited by international professional organizations and
        institutes:
      </p>
      <div class="certificate__partners">
        <a
          href="https://jobs.dou.ua/companies/ "
          noopener
          noreferrer
          target="_blank"
        >
          <img
            srcset="
              ./images/common_partials/certificate/logo1@1x.png 1x,
              ./images/common_partials/certificate/logo1@2x.png 2x
            "
            src="./images/common_partials/certificate/logo1@1x.png"
            alt="company logo"
          />
        </a>
        <a
          href="https://jobs.dou.ua/companies/"
          noopener
          noreferrer
          target="_blank"
        >
          <img
            srcset="
              ./images/common_partials/certificate/logo2@1x.png 1x,
              ./images/common_partials/certificate/logo2@2x.png 2x
            "
            src="./images/common_partials/certificate/logo2@1x.png"
            alt="company logo"
        /></a>
        <a
          href="https://jobs.dou.ua/companies/"
          noopener
          noreferrer
          target="_blank"
        >
          <img
            srcset="
              ./images/common_partials/certificate/logo3@1x.png 1x,
              ./images/common_partials/certificate/logo3@2x.png 2x
            "
            src="./images/common_partials/certificate/logo3@1x.png"
            alt="company logo"
        /></a>
      </div>
    </div>
    <div class="certificate__img">
      <img
        src="./images/common_partials/certificate/certificate@1x.jpg"
        alt="certificate photo"
      />
    </div>
  </div>
</section>
