<section class="subscription-advert">
  <div class="subscription-advert__wrap">
    <h2 class="subscription-advert__title title-pattern">
      Don’t miss anything
    </h2>
    <h3 class="subscription-advert__subtitle subtitle-pattern">
      Subscribe to the Createx School announcements
    </h3>
    <form
      class="subscription-advert__form js-advert-form"
      action="#"
      method="POST"
    >
      <input
        class="subscription-advert__input js-advert-form-input"
        type="email"
        name="advertEmail"
        placeholder="Your working email"
        autocomplete="off"
        required
      />
      <button
        type="subscription-advert"
        class="subscription-advert__button button button--colored"
      >
        Subscribe
      </button>
    </form>
  </div>
</section>
