<section class="team section-paddings">
  <div class="team__container">
    <div class="team__top">
      <div class="team__titles">
        <h2 class="team__title title-pattern">Best tutors are all here</h2>
        <h3 class="team__subtitle subtitle-pattern">Meet our team</h3>
      </div>
    </div>
    <div class="splide" aria-label="Basic Structure Example">
      <div class="splide__track">
        <ul class="splide__list team__list">
          <li class="splide__slide team__item">
            <div class="team__thumb">
              <img
                srcset="
                  ./images/common_partials/team/tutor1@1x.png 1x,
                  ./images/common_partials/team/tutor1@2x.png 2x
                "
                src="./images/common_partials/team/tutor1@1x.png"
                alt="tutor photo"
              />
              <ul class="team__socials">
                <li class="team__socials-item">
                  <a
                    href="https://uk-ua.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__description">
              <p class="team__name">Dianne Russell</p>
              <p class="team__position">Founder and CEO</p>
            </div>
          </li>
          <li class="splide__slide team__item">
            <div class="team__thumb">
              <img
                srcset="
                  ./images/common_partials/team/tutor2@1x.png 1x,
                  ./images/common_partials/team/tutor2@1x.png 2x
                "
                src="./images/common_partials/team/tutor2@1x.png"
                alt="tutor photo"
              />
              <ul class="team__socials">
                <li class="team__socials-item">
                  <a
                    href="https://uk-ua.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__description">
              <p class="team__name">Jerome Bell</p>
              <p class="team__position">Founder and Program Director</p>
            </div>
          </li>
          <li class="splide__slide team__item">
            <div class="team__thumb">
              <img
                srcset="
                  ./images/common_partials/team/tutor3@1x.png 1x,
                  ./images/common_partials/team/tutor3@1x.png 2x
                "
                src="./images/common_partials/team/tutor3@1x.png"
                alt="tutor photo"
              />
              <ul class="team__socials">
                <li class="team__socials-item">
                  <a
                    href="https://uk-ua.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__description">
              <p class="team__name">Kristin Watson</p>
              <p class="team__position">
                Marketer, Curator of Marketing Course
              </p>
            </div>
          </li>
          <li class="splide__slide team__item">
            <div class="team__thumb">
              <img
                srcset="
                  ./images/common_partials//team/tutor4@1x.png 1x,
                  ./images/common_partials//team/tutor4@1x.png 2x
                "
                src="./images/common_partials//team/tutor4@1x.png"
                alt="tutor photo"
              />
              <ul class="team__socials">
                <li class="team__socials-item">
                  <a
                    href="https://uk-ua.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__description">
              <p class="team__name">Marvin McKinney</p>
              <p class="team__position">PM, Curator of Management Course</p>
            </div>
          </li>
          <li class="splide__slide team__item">
            <div class="team__thumb">
              <img
                srcset="
                  ./images/common_partials/team/tutor5@1x.png 1x,
                  ./images/common_partials/team/tutor5@1x.png 2x
                "
                src="./images/common_partials/team/tutor5@1x.png"
                alt="tutor photo"
              />
              <ul class="team__socials">
                <li class="team__socials-item">
                  <a
                    href="https://uk-ua.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__description">
              <p class="team__name">Leslie Alexander Li</p>
              <p class="team__position">Curator of HR & Recruting Course</p>
            </div>
          </li>
          <li class="splide__slide team__item">
            <div class="team__thumb">
              <img
                srcset="
                  ./images/common_partials/team/tutor6@1x.png 1x,
                  ./images/common_partials/team/tutor6@1x.png 2x
                "
                src="./images/common_partials/team/tutor6@1x.png"
                alt="tutor photo"
              />
              <ul class="team__socials">
                <li class="team__socials-item">
                  <a
                    href="https://uk-ua.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__description">
              <p class="team__name">Kathryn Murphy</p>
              <p class="team__position">Analyst and Marketing specialist</p>
            </div>
          </li>
          <li class="splide__slide team__item">
            <div class="team__thumb">
              <img
                srcset="
                  ./images/common_partials/team/tutor7@1x.png 1x,
                  ./images/common_partials/team/tutor7@1x.png 2x
                "
                src="./images/common_partials/team/tutor7@1x.png"
                alt="tutor photo"
              />
              <ul class="team__socials">
                <li class="team__socials-item">
                  <a
                    href="https://uk-ua.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__description">
              <p class="team__name">Brooklyn Simmons</p>
              <p class="team__position">Curator of Development Course</p>
            </div>
          </li>
          <li class="splide__slide team__item">
            <div class="team__thumb">
              <img
                srcset="
                  ./images/common_partials/team/tutor8@1x.png 1x,
                  ./images/common_partials/team/tutor8@1x.png 2x
                "
                src="./images/common_partials/team/tutor8@1x.png"
                alt="tutor photo"
              />
              <ul class="team__socials">
                <li class="team__socials-item">
                  <a
                    href="https://uk-ua.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team__socials-item">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="team__icon-link"
                  >
                    <svg class="team__svg" width="16" height="16">
                      <use href="./images/svg-sprite.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team__description">
              <p class="team__name">Cody Fisher</p>
              <p class="team__position">
                UX Designer, Curator of Design Course
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="team__decor decor-team">
    <div class="decor9 decor-team--1"></div>
    <div class="decor6 decor-team--2"></div>
    <div class="decor10 decor-team--3"></div>
    <div class="decor11 decor-team--4"></div>
  </div>
</section>
