<section class="testimonials">
  <div class="testimonials__container">
    <h2 class="testimonials__title title-pattern">Testimonials</h2>
    <h3 class="testimonials__subtitle subtitle-pattern">
      What our students say
    </h3>

    <div class="swiper testimonials__items js-testimonials-swiper">
      <div class="swiper-wrapper">
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer1@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">Eleanor Pena</div>
                <div class="testimonials__position">Student, Course</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer1@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">Eleanor Pena</div>
                <div class="testimonials__position">Student, Course</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer1@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">Eleanor Pena</div>
                <div class="testimonials__position">Student, Course</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer1@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">Eleanor Pena</div>
                <div class="testimonials__position">Student, Course</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination js-testimonials-swiper-pagination"></div>
      <div class="swiper-button-prev js-testimonials-swiper-button-prev"></div>
      <div class="swiper-button-next js-testimonials-swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
  <div class="testimonials__decor decor-testimonials">
    <div class="decor12 decor-testimonials--1"></div>
    <div class="decor13 decor-testimonials--2"></div>
    <div class="decor10 decor-testimonials--3"></div>
    <div class="decor14 decor-testimonials--4"></div>
  </div>
</section>
