<section class="testimonials">
  <div class="testimonials__container">
    <div class="testimonials__titles titles">
      <h2 class="testimonials__title title-pattern">Testimonials</h2>
      <h3 class="testimonials__subtitle subtitle-pattern">
        What our students say
      </h3>
    </div>
    <div class="swiper testimonials__items js-testimonials-swiper">
      <div class="swiper-wrapper">
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer1@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">Eleanor Pena</div>
                <div class="testimonials__position">
                  Student, The Ultimate Google Ads Training Course
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer2@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">Michael Strong</div>
                <div class="testimonials__position">
                  Student, Product Management Fundamentals
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer3@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">Alice Grey</div>
                <div class="testimonials__position">
                  Student, HR Management and Analytics
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer4@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">George Warner</div>
                <div class="testimonials__position">
                  Student, Business Development Management
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__item swiper-slide">
          <svg class="testimonials__svg" width="28" height="20">
            <use
              class="testimonials__icon"
              href="./images/svg-sprite.svg#icon-braces"
            ></use>
          </svg>
          <div class="testimonials__box">
            <p class="testimonials__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo,
              amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar
              eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis
              non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque
              pharetra arcu diam maecenas diam integer in.
            </p>
            <div class="testimonials__author">
              <div class="testimonials__photo">
                <img
                  src="./images/common_partials/testimonials/reviewer5@1x.jpg"
                  alt="reviewer photo"
                />
              </div>
              <div class="testimonials__about">
                <div class="testimonials__name">Mary Luise</div>
                <div class="testimonials__position">
                  Student, Graphic Design Basic
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination js-testimonials-swiper-pagination"></div>
      <div class="swiper-button-prev js-testimonials-swiper-button-prev"></div>
      <div class="swiper-button-next js-testimonials-swiper-button-next"></div>
    </div>
  </div>
  <div class="testimonials__decor decor-testimonials">
    <div class="decor12 decor-testimonials--1"></div>
    <div class="decor6 decor-testimonials--2"></div>
    <div class="decor16 decor-testimonials--3"></div>
  </div>
</section>
