<section class="about-school">
  <div class="about-school__container">
    <div class="about-school__box">
      <h2 class="about-school__title title-pattern">About us</h2>
      <h3 class="about-school__subtitle subtitle-pattern">
        Createx Online School
      </h3>
      <h4 class="about-school__main-info small-subtitle-pattern">
        Createx Online School is a leader in online studying. We have lots
        of courses and programs from the main market experts.
      </h4>
      <p class="about-school__description text">
        We provide relevant approaches to online learning, internships and
        employment in the largest companies in the country. Our educational
        programs help you get a new specialty from scratch. During your studies,
        we will help you find a job. Check the courses and online events that we
        organise.
      </p>
      <ul class="about-school__buttons">
        <li>
          <a href="./events.html" class="button button--transparent"
            >Explore events</a
          >
        </li>
        <li>
          <a href="./courses.html" class="button button--colored">
            Browse courses</a
          >
        </li>
      </ul>
    </div>
    <div class="about-school__img">
      <img
        src="./images/about_page/about-school/about-school-pic.svg"
        alt="about-school illustration"
      />
    </div>
  </div>
</section>
