<section class="achievements section-paddings">
  <h2 class="is-hidden">achievements</h2>
  <div class="achievements__container">
    <a href="" class="achievements__video">
      <div class="achievements__video-icon-box">
        <svg class="achievements__svg-video" width="32" height="32">
          <use href="./images/svg-sprite.svg#icon-play-video"></use>
        </svg>
      </div>
      <p>Watch Video</p>
    </a>
    <div class="achievements__box">
      <div class="achievements__img">
        <img
          srcset="
            ./images/about_page/achievements/achievements-pic@1x.jpg 1x,
            ./images/about_page/achievements/achievements-pic@2x.jpg 2x
          "
          src="./images/about_page/achievements/achievements-pic@1x.jpg"
          alt="a girl at a laptop"
        />
      </div>
      <ul class="achievements__list">
        <li class="achievements__list-item">
          <div class="achievements__quantity">1200</div>
          <div class="achievements__name">Students graduated</div>
        </li>
        <li class="achievements__list-item">
          <div class="achievements__quantity">84</div>
          <div class="achievements__name">Completed courses</div>
        </li>
        <li class="achievements__list-item">
          <div class="achievements__quantity">16</div>
          <div class="achievements__name">Qualified tutors</div>
        </li>
        <li class="achievements__list-item">
          <div class="achievements__quantity">5</div>
          <div class="achievements__name">Years of experience</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="achievements__decor decor-achievements">
    <div class="decor7 decor-achievements--1"></div>
    <div class="decor13 decor-achievements--2"></div>
  </div>
</section>
