<section class="direction section-paddings">
  <div class="direction__container">
    <div class="direction__titles titles">
      <h2 class="direction__title title-pattern">our main directions</h2>
      <h3 class="direction__subtitle subtitle-pattern">What do we teach</h3>
    </div>
    <ul class="direction__list">
      <li class="direction__list-item">
        <div class="direction__thumb">
          <img
            srcset="
              ./images/about_page/directions/direction-pic1@1x.jpg 1x,
              ./images/about_page/directions/direction-pic1@2x.jpg 2x
            "
            src="./images/about_page/directions/direction-pic1@1x.jpg"
            alt="direction picture"
          />
        </div>
        <div class="direction__description">
          <p class="direction__label label label--green">Marketing</p>
          <p class="direction__text text">
            Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum
            eu viverra faucibus. Viverra scelerisque consequat.
          </p>
          <a href="./courses.html" class="direction__more">
            <p>Check courses</p>
            <svg class="direction__svg" width="24" height="24">
              <use href="./images/svg-sprite.svg#icon-next-btn"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="direction__list-item">
        <div class="direction__thumb">
          <img
            srcset="
              ./images/about_page/directions/direction-pic2@1x.jpg 1x,
              ./images/about_page/directions/direction-pic2@2x.jpg 2x
            "
            src="./images/about_page/directions/direction-pic2@1x.jpg"
            alt="direction picture"
          />
        </div>
        <div class="direction__description">
          <p class="direction__label label label--blue">Management</p>
          <p class="direction__text text">
            Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum
            eu viverra faucibus. Viverra scelerisque consequat.
          </p>
          <a href="./courses.html" class="direction__more">
            <p>Check courses</p>
            <svg class="direction__svg" width="24" height="24">
              <use href="./images/svg-sprite.svg#icon-next-btn"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="direction__list-item">
        <div class="direction__thumb">
          <img
            srcset="
              ./images/about_page/directions/direction-pic3@1x.jpg 1x,
              ./images/about_page/directions/direction-pic3@2x.jpg 2x
            "
            src="./images/about_page/directions/direction-pic3@1x.jpg"
            alt="direction picture"
          />
        </div>
        <div class="direction__description">
          <p class="direction__label label label--orange">HR & Recruting</p>
          <p class="direction__text text">
            Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum
            eu viverra faucibus. Viverra scelerisque consequat.
          </p>
          <a href="./courses.html" class="direction__more">
            <p>Check courses</p>
            <svg class="direction__svg" width="24" height="24">
              <use href="./images/svg-sprite.svg#icon-next-btn"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="direction__list-item">
        <div class="direction__thumb">
          <img
            srcset="
              ./images/about_page/directions/direction-pic4@1x.jpg 1x,
              ./images/about_page/directions/direction-pic4@2x.jpg 2x
            "
            src="./images/about_page/directions/direction-pic4@1x.jpg"
            alt="direction picture"
          />
        </div>
        <div class="direction__description">
          <p class="direction__label label label--pink">Design</p>
          <p class="direction__text text">
            Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum
            eu viverra faucibus. Viverra scelerisque consequat.
          </p>
          <a href="./courses.html" class="direction__more">
            <p>Check courses</p>
            <svg class="direction__svg" width="24" height="24">
              <use href="./images/svg-sprite.svg#icon-next-btn"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="direction__list-item">
        <div class="direction__thumb">
          <img
            srcset="
              ./images/about_page/directions/direction-pic5@1x.jpg 1x,
              ./images/about_page/directions/direction-pic5@2x.jpg 2x
            "
            src="./images/about_page/directions/direction-pic5@1x.jpg"
            alt="direction picture"
          />
        </div>
        <div class="direction__description">
          <p class="direction__label label label--violet">Development</p>
          <p class="direction__text text">
            Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum
            eu viverra faucibus. Viverra scelerisque consequat.
          </p>
          <a href="./courses.html" class="direction__more">
            <p>Check courses</p>
            <svg class="direction__svg" width="24" height="24">
              <use href="./images/svg-sprite.svg#icon-next-btn"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="direction__list-item">
        <p class="direction__last-item-banner small-subtitle-pattern">
          New studying program coming soon...
        </p>
      </li>
    </ul>
  </div>
</section>
