<section class="employment">
  <div class="employment__container">
    <div class="employment__titles titles">
      <h2 class="employment__title title-pattern">best jobs for you</h2>
      <h3 class="employment__subtitle subtitle-pattern">
        Our students work here
      </h3>
		</div>
      <ul class="employment__list">
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo1.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo2.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo3.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo4.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo5.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo9.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo7.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo8.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo9.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo10.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo11.png"
            alt="company logo"
          />
        </li>
        <li class="employment__item">
          <img
            src="./images/about_page/employment/logo12.png"
            alt="company logo"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
