<section class="our-values section-paddings">
  <div class="our-values__container">
    <div class="our-values__titles titles">
      <h2 class="our-values__title title-pattern">We always stand for</h2>
      <h3 class="our-values__subtitle subtitle-pattern">Our core values</h3>
    </div>
    <ul class="our-values__list">
      <li class="our-values__list-item">
        <div class="our-values__column">
          <svg class="our-values__svg" width="48" height="48">
            <use href="./images/svg-sprite.svg#icon-structure"></use>
          </svg>
          <h4 class="our-values__small-subtitle small-subtitle-pattern">
            Structured Approach
          </h4>
          <p class="our-values__text text text--light-grey">
            Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.
          </p>
        </div>
      </li>
      <li class="our-values__list-item">
        <div class="our-values__column">
          <svg class="our-values__svg" width="48" height="48">
            <use href="./images/svg-sprite.svg#icon-ic-chat"></use>
          </svg>
          <h4 class="our-values__small-subtitle small-subtitle-pattern">
            Professional Feedbacks
          </h4>
          <p class="our-values__text text text--light-grey">
            Culpa nostrud commodo ea consequat reprehenderit aliquip.
          </p>
        </div>
      </li>
      <li class="our-values__list-item">
        <div class="our-values__column">
          <svg class="our-values__svg" width="48" height="48">
            <use href="./images/svg-sprite.svg#icon-target"></use>
          </svg>
          <h4 class="our-values__small-subtitle small-subtitle-pattern">
            Efficiency
          </h4>
          <p class="our-values__text text text--light-grey">
            Viverra scelerisque consequat net. Adipisicing esse consequat.
          </p>
        </div>
      </li>
      <li class="our-values__list-item">
        <div class="our-values__column">
          <svg class="our-values__svg" width="48" height="48">
            <use href="./images/svg-sprite.svg#icon-ic-calendar"></use>
          </svg>
          <h4 class="our-values__small-subtitle small-subtitle-pattern">
            Flexible Shedule
          </h4>
          <p class="our-values__text text text--light-grey">
            Aute eiusmod dolore dolore deserunt veniam ad deserunt.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
