<section class="studying section-paddings">
  <div class="studying__container">
    <div class="studying__titles titles">
      <h2 class="studying__title title-pattern">Studying process</h2>
      <h3 class="studying__subtitle subtitle-pattern">That’s how we do it</h3>
    </div>
    <div class="studying__box">
      <ul class="studying__list">
        <li class="studying__list-item">
          <div class="studying__item-box">
            <p class="studying__step">Step 1</p>
            <h4 class="studying__small-subtitle small-subtitle-pattern">
              Watching online video lectures
            </h4>
            <p class="studying__text text--light-grey text">
              Aliquam turpis viverra quam sit interdum blandit posuere
              pellentesque. Nisl, imperdiet gravida massa neque.
            </p>
          </div>
        </li>
        <li class="studying__list-item">
          <div class="studying__item-box">
            <p class="studying__step">Step 2</p>
            <h4 class="studying__small-subtitle small-subtitle-pattern">
              Passing test
            </h4>
            <p class="studying__text text--light-grey text">
              Facilisis pellentesque quis accumsan ultricies. Eu egestas eget
              feugiat lacus, amet, sollicitudin egestas laoreet etiam.
            </p>
          </div>
        </li>
        <li class="studying__list-item">
          <div class="studying__item-box">
            <p class="studying__step">Step 3</p>
            <h4 class="studying__small-subtitle small-subtitle-pattern">
              Curator’s feedback
            </h4>
            <p class="studying__text text--light-grey text">
              Eget amet, enim pharetra leo egestas nisi, odio imperdiet
              facilisis. Aliquet orci varius volutpat egestas facilisi lobortis.
            </p>
          </div>
        </li>
        <li class="studying__list-item">
          <div class="studying__item-box">
            <p class="studying__step">Step 4</p>
            <h4 class="studying__small-subtitle small-subtitle-pattern">
              Corrections if needed
            </h4>
            <p class="studying__text text--light-grey text">
              Non tempor pulvinar tincidunt aliquam. Placerat ultricies
              malesuada dui auctor.
            </p>
          </div>
        </li>
      </ul>
      <div class="studying__img">
        <img
          src="./images/about_page/studying/studying-pic.svg"
          alt="studying illustration"
        />
      </div>
    </div>
    <div class="studying__decor decor-studying">
      <div class="decor14 decor-studying--1"></div>
      <div class="decor8 decor-studying--2"></div>
    </div>
  </div>
</section>
