.certificate {
  padding: 50px 0px;

  @include adaptive(tablet) {
    padding: 80px 0px;
  }
  @include adaptive(desktop) {
    padding: 120px 0px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include adaptive(tablet) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    @include adaptive(desktop) {
      justify-content: space-between;
    }
  }
  // .certificate__box

  &__box {
    max-width: 100%;
    @include adaptive(desktop) {
      max-width: 395px;
    }
  }

  // .certificate__subtitle

  &__subtitle {
    margin-bottom: 32px;
    @include adaptive(tablet) {
      margin-bottom: 48px;
    }
  }

  &__description {
    margin-bottom: 32px;
  }

  // .certificate__partners

  &__partners {
    display: flex;
    gap: 40px;
  }

  // .certificate__img

  &__img {
    position: relative;
    z-index: 2;
    margin-bottom: -80px;
    @include adaptive(tablet) {
      margin-bottom: 0;
    }
    @include adaptive(desktop) {
      margin-bottom: -180px;
    }
  }
}
